$Page('Plan',
`
<pane cache-view="false">
  <header>
    <a ui-sref="{{$backPage}}" nav-direction="back"  class="Z0 i"> {{"Back"|Say}}</a>
    <title Say>Plan</title>
  </header>
  <scroll class="padding">
  <item>


    1. Security group tool
    view / search / edit / sort / analysis /security group 
    <br>
    
    2. Usage tool
    batch analysis of logs and usage (CPU,Mem,Disk,Network usage,Disk I/O).
    <br>
    3. Tendis tool
    Automatically scale down Tendis cluster without GCS
    <br>
    4. Monitoring and alarm tool
    Standardize BK monitoring and alarm system to improve accuracy of the alarm and post action
    <br>
    5. Integration tool
    Integrate AWS/TC information, automatically analysis, reduce manual login AWS/TC
    <br>
    6. Terminal tool
    Manage/monitor servers/DB components in one place without Mnet & AWS WorkSpace 
    <br>
    7. Container framework
    Better to integration and easy to adapt in overseas BK environment, portability. 
    <br>
    8. Monitor CVM change

  </item>

  <button class="GreenG W90" nav-direction="back" ui-sref="{{$backPage}}" Say>Back</button>
  <br><br>
  </scroll>
</pane>
`);
